html, body{
 height: 100%;
}

body{
    display: flex;
    margin: 0;
}
#map{
    width: 100%;
}
#Menu{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-image: url("Images/minipokedex.png")
}
#dex{
    position: relative;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: black;
    background-image: url("Images/icondex.png");
    background-size: cover;
    height: 10%;
}
#spawn{
    position: relative;
    top: 50%;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: black;
    background-image: url("Images/iconball.png");
    background-size: cover;
    height: 10%;
}
#capture{
    width: 50%;
    height: 50%;
    background-image: url("Images/capture.png");
    position: fixed;
    background-size: cover;
    background-position: bottom;
    z-index: 20;
    top:25%;
    left: 25%;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
}
#pokemon{
    height: 65%;
    width: 37%;
}
#pokeball{
    height: 35%;
    width: 37%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#player{
    width: 63%;
}
#name{
    width: 63%;
}
#pokeball form{
    width: 47%;
    height: 47%;
    margin: 0;
    padding:0;
    border: 3px solid black;
}
#pokeball form input{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

#player img{
    height: 170px;
    padding-left: 25%;
}

#pokedex{
    width: 90%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: bottom;
    z-index: 9;
    top:0;
    left: 5%;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
}

#infodex{
    background-color: grey;
    background-image: url("Images/infodex.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

#listedex{
    background-image: url("Images/listedex.png");
    background-size: cover;
    width: 50%;
    height: 100%;
}

#listage{
    position: relative;
    top: 35%;
    left: 30%;
    overflow: auto;
    width: 50%;
    height: 50%;
}

#imgpokemon{
    position: relative;
    top: 5%;
    left: 10%;
    width: 25%;
    height: 20%;
}

#anima{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    flex-wrap: wrap;
    z-index: 15;

}
#anima div{
    width: 25%;
    background-color: black;
    display: none;
}
#divevent{
    width: 10%;
    height: 5%;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    flex-wrap: wrap;
    z-index: 9;
}